
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}
body {
    width: 100%;
}
/* HEADER */
#header {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px 40px;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 1000;
}
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li {
    list-style: none;
    padding: 0 30px;
    position: relative;
}
#navbar li a {
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}
#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#mobile {
    display: none;
}
#close {
    display: none;
}
/* END OF HEADER */

/* PROFILE */
.profile {
    position: relative;
    display: flex;
    height: 100vh;
    min-height: 700px;
}
.profile-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 80vh;
    flex-direction: column;
    width: 50%;
    padding-left: 25px;
}
.profile-text h1 {
    font-size: 45px;
    font-weight: bolder;
}
.profile-text h1 span {
    color: #088178;
}
.profile-icons {
    display: flex;
    margin-top: 20px;
    gap: 10px;
    
}
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    border-radius: 17px;
}
.profile-icons i {
    font-size: 20px;
}
.profile-icons i:hover {
    color: #088178;
    transition: 0.3s;
}
.profile-container p {
    font-size: 15px;
    margin-bottom: 30px;
    color: #444;
}
.profile-text p {
    font-size: 22px;
    font-weight: bolder;
}
.profile-text-btn {
    display: flex;
    gap: 20px;
}
.blue-btn {
    font-weight: 600;
    padding: 12px 20px;
    background: #088178;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
}
.blue-btn:hover {
    color: #000;
    transition: 0.6s;
}
.btn {
    font-weight: 600;
    padding: 12px 20px;
    background: #efefef;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #000;
}
.btn:hover {
    background: #088178;
    transition: 0.6s;
}
.featured-image {
    display: flex;
    justify-content: right;
    align-content: center;
    min-height: 80vh;
    width: 50%;
}
.image {
    margin: auto;
    width: 380px;
    height: 380px;
    border-radius: 55%;
    overflow: hidden;
}
.image img {
    width: 380px;
    height: 380px;
    object-fit: cover;
}
.section-pic-container{
    width: 400px;
    height: 400px;
    position: relative;
    bottom: -100px;
    left: 150px;
    object-fit: cover;
   
}
.section-pic-container img{
    margin: auto 0;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
}
.section-text{
    align-self: center;
    align-items: center;
    position: relative;
    bottom: -40px;
}
.section-text p{
    font-weight: 600;
}
.section-text-p1{
    text-align: center;

}
.section-text-p2{
    font-size: 1rem;
    margin-bottom: 10px;

}
.title{
    font-size: 3rem;
    text-align: center;
}
.socials-container{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    padding: 1rem;
    gap: 1rem;
}
.icon{
    cursor: pointer;
    height: 2rem;
    margin: 10px;
}
.about-content{
    position: relative;
    bottom: -63px;
    /* position: relative;
    bottom: 60px; */
    
    margin-bottom: 100px;
}
.about-content h2{
    text-align: center;
    font-size: 35px;

}

.about-content h2 span {
    color: #088178;
    font-family: mv boli;
}
.about-content h2 span {
    color: #088178;
    font-family: mv boli;
}
.about-content h3{
    font-size: 25px;
    text-align: center;

}
.about-content .ngng{
    display: flex;
    justify-content: center;
    line-height: 2;
    /* padding-left: 200px; */
}
.about-content p{
    font-size: 15px;
    margin-top: 30px;
    color: #fefefe;
    padding: 12px 20px;
    background: #088178;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 1.2);
    border: none;
    border-radius: 10px;
    width: 700px;
    

    /* font-size: 15px;
    line-height: 1.4;
    border: 2px solid black;
    padding: 2px;
    margin-bottom: 55px; */
}
/* .services{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   
} */
/* .top-header{
    text-align: center;
    margin-bottom: 5em;
}
.top-header h1 {
    font-weight: 600;
    color: #444;
    margin-bottom: 10px;
} */
.top-header h2{
    font-size: 35px;
    text-align: center;
    margin-top: 300px;
    padding-bottom: 70px;
}
.Project-container{
    display: flex;
    justify-content:space-between;
    width: 80%;
    margin-left: 150px; 
    flex-wrap: wrap;
    
}
.services{
    padding-top: 30px;

}
.project-box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 250px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 1px 8px 10px 2px rgba(0, 0, 0, 0.1);
    overflow: hidden;

}
.project-box>i {
    font-size: 50px;
    color: #6e57e0;
    margin-bottom: 25px;
}
.project-box label {
    font-size: 15px;
    color: #777;
}
.project-box::after{
    content: "";
    position: absolute;
    bottom: -100%;
    background-color: teal;
    width: 100%;
    height: 100%;
    transition: 0.4s;
}
.project-box:hover.project-box::after{
    bottom: 0;
}
.project-box:hover.project-box i,
.project-box:hover.project-box>h3,
.project-box:hover.project-box>label {
    color: #fff;
    z-index: 2;
}
#contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}
.top-header{
    margin-top: 170px;
    text-align: center;

}
.top-header p{
    font-size: 19px;
}
.top-header h1{
    font-size: 40px;
}
.contact-info-upper-container{
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53)0.1rem solid;
    border-color: rgb(163, 163, 163);
    background: (250,250,250);
    margin: 2rem auto;
    padding: 0.5rem;
}
.contact-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}
.contact-info-container p{
    font-size: larger;
}
.contact-info-container p a{
    color: #000;
    text-decoration: none;
}
.contact-icon{
    font-size: 22px;
    height: 2.5rem;

}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    background: #F8F8F8;
    padding-block: 40px 60px;
}
.top-footer p {
    font-size: 25px;
    font-weight: 600;
}
.middle-footer .footer-menu {
    display: flex;
}
.footer_menu_list {
    list-style: none;
}
.footer_menu_list a {
    text-decoration: none;
    color: #444;
    font-weight: 500;
    margin-inline: 20px;
}
.footer_menu_list a:hover {
  color: #088178;
}
.footer-profile-icons {
    display: flex;
    gap: 30px;
   
}
.footer-profile-icons i:hover{
    color: #088178;
}
.bottom-footer {
    font-size: 14px;
    margin-top: 10px;
}



/* RESPONSIVENESS */
@media only screen and (max-width: 1024px) {
    .profile-info{
        position: relative;
        left: 5px;
        margin-bottom: 30px;
    }
}

@media (max-width:799px) {
    #header {
        z-index: 1000;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }
    #navbar.active {
        right: 0px;
    }
    #navbar li {
        margin-bottom: 60px;
    }
    #mobile {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
    #close {
        display: flex;
        text-decoration: none;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }
    .profile {
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        min-height: 700px;
    }
    .profile-container {
        width: 100%;
        order: 2;
        padding: 20px;
        justify-content: center;
        align-content: flex-start;
        min-height: 60vh;
    }
    .profile-text h1 {
        font-size: 38px;
    }
    .image, .image img{
        width: 150px;
        height: 150px;
    }
    .featured-image {
        order: 1;
        justify-content: center;
        min-height: 150px;
        width: 100%;
        margin-top: 65px;
    }
    .profile-icons {
        margin-top: 2em;
    }
    .about-content {
        padding: 20px;
    }
    .Project-container{
       justify-content: center;
       gap: 1rem;
       margin-left: 60px;
    
    }
    .project-box{
        width: 60%;
    }
    .contact-info-upper-container{
        flex-wrap: wrap;
    }
    .contact-info-container{
        margin: 0;
    }
}
@media (max-width:400px) {
    .profile-container {
        font-size: 25px;
        width: 100%;
        order: 2;
        padding: 15px;
        justify-content: center;
        align-content: flex-start;
        min-height: 50vh;
    }
    .profile-text h1 {
        font-size: 25px;
    }
    .profile-text p {
        font-size: 20px;
    }
    .profile-icons {
        margin-top: 0.7em;
    }
    .profile-container p {
        font-size: 15px;
        margin-bottom: 10px;
        color: #444;
    }
 
    .contact-info-upper-container{
        flex-wrap: wrap;
    }
    .contact-info-container{
        margin: 0;
    }

}